<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERROR 404</title>
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="main">
        {{!-- render header partial file --}}
        {{>header}}

    <p>{{errorMessage}}</p>
    </div>

    {{!-- render footer partial file --}}
    {{>footer}}
</body>
</html>