<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        {{!-- render header partial file --}}
        {{>header}}

        <h3>Tools:</h3>
        <h4>Dark Sky API for Weather</h4>
        <h4>Mapbox for Location</h4>
    </div>

    {{!-- render footer partial file --}}
    {{>footer}}
</body>

</html>