<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        {{!-- render header partial file --}}
        {{>header}}

        <h3>Tools: Dark Sky API for Weather and Mapbox for Location</h3>
    </div>

    {{!-- render footer partial file --}}
    {{>footer}}
</body>

</html>