<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="main">
        {{!-- render header partial file --}}
        {{>header}}

        <p>Enter Location</p>
        <form action="">
            <input type="text" placeholder="Ex: Bangkok" id="location">
            <button>Show Forecast</button>

            <p id="p1"></p>
            <p id="p2"></p>
        </form>
        <br><br>
        <p>*Made with Node.js, Dark sky API and Mapbox</p>
        <p>**UI is still under development</p>
    </div>


    {{!-- render footer partial file --}}
    {{>footer}}
    {{!-- JavaScript --}}
    <script src="js/app.js"></script>
</body>

</html>